<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-2">
      Rashad
      <span class="text-primary">Suleymanov</span>
    </h1>
    <h2>FRONT-END DEVELOPER</h2>
    <div class="subheading mb-2">mob: 070-928-90-27</div>
    <div class="subheading mb-2">
      email:
      <a href="mailto:rashad.suleymanov83@gmail.com"
        >rashad.suleymanov83@gmail.com</a
      >
    </div>
    <div class="social-icons mb-5">
      <a href="https://www.linkedin.com/in/rashad-suleymanov-08362262/">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/Harvester83?tab=repositories">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.facebook.com/rashad.suleymanov.58">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>

    <div>
      <h3>Summary</h3>
      With over 10 years of experience in website and web application
      development, I thrive in collaborative environments where complex
      problem-solving is a key focus. I am passionate about tackling challenges,
      continuously learning, and staying abreast of cutting-edge technologies.
    </div>
  </div>
</section>
<hr class="m-0" />
