<section
  class="resume-section p-3 p-lg-5 d-flex justify-content-center"
  id="experience"
>
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Front-end developer</h3>
        <div class="subheading mb-3">Sayt.az</div>
        <ul>
          <li>Development and support</li>
          <li>Refactoring and improving the legacy code</li>
          <li>Use (Vue.js, React) in project</li>
        </ul>
        <p>
          Technologies tools: JS (Vue.js , jQuery) PHP(Laravel) Gulp, Webpack,
          HTML (pug), CSS (scss, sass)
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">December 2017 - June 2019</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Front-end developer</h3>
        <div class="subheading mb-3">DB Advisors</div>
        <ul>
          <li>Website development and support</li>
          <li>Refactoring and improving the legacy code</li>
          <li>Use webpack</li>
          <li>Move to React</li>
          <li>Redux (managing application state)</li>
        </ul>
        <p>
          Technologies tools: JS (React, jQuery), PHP Gulp, Webpack, HTML, CSS,
          Git
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">May 2017 - November 2017</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Web developer</h3>
        <div class="subheading mb-3">AZNM (Azerbaijan New Media)</div>
        <ul>
          <li>Website development</li>
          <li>Create HTML layouts and embedding in PHP code</li>
          <li>Support and development sites on the DLE, WordPress</li>
          <li>Refactoring and improving the legacy codee)</li>
        </ul>
        <p>Technologies tools: JS (jQuery), PHP (Laravel) HTML, CSS</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">December 2012 - April 2017</span>
      </div>
    </div>
  </div>

  
</section>
<hr class="m-0" />
