<section
  class="resume-section p-3 p-lg-5 d-flex justify-content-center"
  id="experience"
>
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>
    @@loop('_experience-item.html', [
     { "position": "Middle Front-end developer","company": "AperTech", "tasks": "<ul><li>Created intuitive applications, focusing on enhancing user experience. (TypeScript, React, and Redux)</li><li>Provided Technical Support: Smooth operations by troubleshooting issues and implementing solutions promptly</li><li>Conduct Code Reviews: Improved internal code quality by reviewing code for readability and maintainability</li><li>Technical support</li></ul>", "date": "March 2023 - April 2024" },
     { "position": "Front-end developer","company": "RISK", "tasks": "<ul><li>Building geospatial (GIS) applications in the browser so that users can see and interact with applications in the browser</li><li>Development of new modules (applications) focused on the user. TypeScript (React, Redux)</li><li>Collaborated with stakeholders during development processes to confirm creative proposals and design best practices</li><li>Technical support maintaining and improve legacy code</li><li>Code review for improve internal code quality and maintainability (readability, uniformity, understandability)</li></ul>", "date": "September 2019 - March 2023" },
     { "position": "Front-end developer","company": "Sayt.az", "tasks": "<ul><li>Website development and technical support. (Vue, JQuery)</li><li>Conceived and built optimized landing pages in HTML and CSS for integration and cross-browser compatibility. (WebPack (Gulp))</li><li>Optimized web applications for speed, scalability and security</li><li>Support projects. (Angular, Vue)</li></ul>", "date": "May 2017 - June 2019" },
     { "position": "WEBdeveloper","company": "AZNM (Azerbaijan New Media)", "tasks": "<ul><li>Coded websites. (HTML, CSS, JavaScript)</li><li>Create HTML layouts and embedding in PHP code</li><li>Support and development sites. (DLE, Wordpress)</li></ul>", "date": "December 2012 - April 2017" }, ])
  </div>
</section>
<hr class="m-0" />
