<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="skills"
>
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Technology stack (Programming Languages)</div>
    <div class="display-flex">
      <ul>
        <li>TypeScript, JavaScript</li>
        <li>React (Next.js, Redux)</li>
        <li>Angular (NgRx, RxJS)</li>
        <li>Vue.js (Nuxt, Vuex/Pinia, Vuetify)</li>
        <li>HTML, CSS (SCSS, SASS, LESS)</li>
      </ul>

      <ul>
        <li>Node.js (Nest.js, Express.js)</li>
        <li>PHP (Laravel)</li>
      </ul>

      <ul>
        <li>MySQL, PostgreSQL, SQLite</li>
        <li>MongoDB, Redis</li>
        <li>GraphQL</li>
      </ul>
    </div>
  </div>
</section>
